{% extends "base.html" %}
{% block content %}
    <section class="container">
      <h1 class="large text-primary">
        Add Your Education
      </h1>
      <p class="lead">
        <i class="fas fa-graduation-cap"></i> Add any school, bootcamp, etc that
        you have attended
      </p>
      <small>* = required field</small>
      <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
          {{ form.school }}
        </div>
        <div class="form-group">
          {{ form.degree }}
        </div>
        <div class="form-group">
          {{ form.field }}
        </div>
        <div class="form-group">
          <h4>From Date</h4>
          {{ form.start_date }}
        </div>
        <div class="form-group">
          <h4>To Date</h4>
          {{ form.end_date }}
        </div>
        <div class="form-group">
          <p>{{ form.current }} Current School</p>
        </div>
        <script>
          const eduCheckbox = document.querySelector("#id_current");
          const eduEndDate = document.querySelector("#id_end_date");

          function toggleEduEndDate() {
            if (eduCheckbox.checked) {
              eduEndDate.value = "";
              eduEndDate.disabled = true;
            } else {
              eduEndDate.disabled = false;
            }
          }

          eduCheckbox.addEventListener("change", toggleEduEndDate);
          toggleEduEndDate();
        </script>
        <div class="form-group">
          {{ form.description }}
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn my-1" href="{% url 'dashboard' %}">Go Back</a>
      </form>
    </section>
{% endblock content %}

