{% extends "base.html" %}
{% block content %}
    <section class="container">
      <h1 class="large text-primary">
        Create Your Profile
      </h1>
      <p class="lead">
        <i class="fas fa-user"></i> Let's get some information to make your
        profile stand out
      </p>
      <small>* = required fields</small>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{form.professional_status}}
          <small class="form-text"
            >Give us an idea of where you are at in your career</small
          >
        </div>
        <div class="form-group">
          {{form.company}}
          <small class="form-text"
            >Could be your own company or one you work for</small
          >
        </div>
        <div class="form-group">
          {{form.website}}
          <small class="form-text"
            >Could be your own or a company website</small
          >
        </div>
        <div class="form-group">
          {{form.location}}
          <small class="form-text"
            >City & state suggested (eg. Boston, MA)</small
          >
        </div>
        <div class="form-group">
          {{form.skills}}
          <small class="form-text"
            >Please use comma separated values (eg.
            HTML,CSS,JavaScript,PHP)</small
          >
        </div>
        <div class="form-group social-input">
          {{form.github}}
        </div>
        <small class="form-text">It's highly recommended to share your Github on your Profile</small>
        <div class="form-group">
          {{form.bio}}
          <small class="form-text">Tell us a little about yourself</small>
        </div>

        <div class="my-2">
          <button type="button" class="btn btn-light">
            Add Social Network Links
          </button>
          <span>Optional</span>
        </div>

        <div class="form-group social-input">
          <i class="fab fa-twitter fa-2x"></i>
          {{form.twitter}}
        </div>

        <div class="form-group social-input">
          <i class="fab fa-facebook fa-2x"></i>
          {{form.facebook}}
        </div>

        <div class="form-group social-input">
          <i class="fab fa-youtube fa-2x"></i>
          {{form.youtube}}
        </div>

        <div class="form-group social-input">
          <i class="fab fa-linkedin fa-2x"></i>
          {{form.linkedin}}
        </div>

        <div class="form-group social-input">
          <i class="fab fa-instagram fa-2x"></i>
          {{form.instagram}}
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn btn-light my-1" href="dashboard.html">Go Back</a>
      </form>
    </section>
{% endblock %}