{% extends "base.html" %}
{% block content %}
    <section class="container">
      <a href="{% url "posts" %}" class="btn">Back To Posts</a>
      <div class="post bg-white p-1 my-1">
        <div>
          <a href="{% url "profile" post.author.id %}">
            <img
              class="round-img"
              src="{{post.author.pfp.url}}"
              alt=""
            />
            <h4>{{post.author.user.username}}</h4>
          </a>
        </div>
        <div>
          <p class="my-1">
            {{post.body}}
          </p>
        </div>
      </div>

      <div class="post-form">
        <div class="post-form-header bg-primary">
          <h3>Leave A Comment</h3>
        </div>
        <form class="form my-1">
          <textarea
            name="text"
            cols="30"
            rows="5"
            placeholder="Comment on this post"
          ></textarea>
          <input type="submit" class="btn btn-dark my-1" value="Submit" />
        </form>
      </div>

      <div class="posts">
        {% for comment in comments|dictsortreversed:"updated_at"%}
        <div class="post bg-white p-1 my-1">
          <div>
            <a href="{% url "profile" comment.author.id %}">
              <img
                class="round-img"
                src="{{comment.author.pfp.url}}"
                alt=""
              />
              <h4>{{comment.author.user}}</h4>
            </a>
          </div>
          <div>
            <p class="my-1">
              {{comment.body}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}