{% extends "base.html" %}
{% block content %}
    <section class="container">
      <h1 class="large text-primary">
        Posts
      </h1>
      <p class="lead"><i class="fas fa-user"></i> Welcome to the community</p>

      <div class="post-form">
        <div class="post-form-header bg-primary">
          <h3>Say Something...</h3>
        </div>
        <form method="POST" action="{% url 'posts' %}" class="form my-1">
          {% csrf_token %}
          {{form.title}}
          {{form.body}}
          <input type="submit" value="Create" class="btn btn-dark my-1" />
        </form>
        <div class="posts">
          {% for post in posts|dictsortreversed:"updated_at"%}
          <div class="post bg-white my-1 p-1">
            <div>
              <a href="{% url "profile" post.author.id %}">
                <img
                  class="round-img"
                  src="{{post.author.pfp.url}}"
                  alt=""
                />
                <h4>{{post.author.user.username}}</h4>
              </a>
            </div>

            <div>
              <p class="my-1">
                {{post.body}}
              </p>
              <button class="btn">
                <i class="fas fa-thumbs-up"></i> <span>4</span>
              </button>
              <button class="btn">
                <i class="fas fa-thumbs-down"></i>
              </button>
              <a href="{% url "post" post.id %}" class="btn btn-primary">
                Discussion
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}